<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>index</title>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.23/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="
  https://cdn.jsdelivr.net/npm/@babel/standalone@7.26.5/babel.min.js
  "></script>
  
  <script type="importmap">
    {
      "imports": {
        "@jsxImportSource": "https://esm.sh/react@19.0.0",
        "react": "https://esm.sh/react@19.0.0",
        "react-dom": "https://esm.sh/react-dom@19.0.0/client",
        "clsx": "https://esm.sh/clsx",
        "class-variance-authority": "https://esm.sh/class-variance-authority"
      }
    }

  </script>

  
  
 
</head>
<body>
  <div id="app"></div>
  <script type="text/babel" data-type="module">
    import React, { useEffect, useState } from "react"
    import { createRoot } from "react-dom"
    import clsx from "clsx"
    import { cva } from "class-variance-authority"

    const App = () => {
      const url = window.location.href
      const [ id , setId ] = useState("");
      const [ checked, setChecked ] = useState(false);
      const [ name , setName ] = useState("");
      const [ comment , setComment ] = useState("");
      const [ api_key , setApi_key ] = useState("");

      const domainWithPort = "http://" + window.location.host;
      document.title = "ルーム作成";

      const idCheck = () => {
        fetch(url + "api/checkID" , {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ id: id }),
        })
          .then((res) => res.json())
          .then((data) => {
            if(data.status == "ok"){
              setChecked(true);
              console.log(data.api_key);
              setApi_key(data.api_key);
            }else{
              alert("IDが間違っています。\n5回間違えるとアクセスが制限されます。");
            }})
          .catch((err) => {
            console.log(err);
          });
      }

      const createClass = () => {
        fetch(domainWithPort + "/api/createroom" , {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ id: id , name: name , comment: comment , api_key: api_key }),
        })
          .then((res) => res.json())
          .then((data) => {
            if(data.status == "ok"){
              window.location.href = "/create/" + data.roomid + "/playarea?api_key=" + api_key;
            }else{
              alert("エラーが発生しました。");
            }})
          .catch((err) => {
            console.log(err);
          });
      }

      if (checked) {
        return (
          <div
          className="items-center justify-center h-screen"
          >
            <p>授業名</p>
            <input type="text" placeholder="Type here" className="input input-bordered w-full max-w-xs" onChange={(e) => setName(e.target.value)} />
            <p>説明</p>
            <textarea className="textarea h-24 textarea-bordered" placeholder="Type here" onChange={(e) => setComment(e.target.value)}></textarea>
            <button
              className="btn btn-primary"
              onClick={() => {
                createClass();
              }}
            >送信
            </button>
          </div>
        );
      }

      return (
        <>
        <div
        
        className="items-center justify-center h-screen"
        >  
        <div role="alert" className="alert alert-warning">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            className="h-6 w-6 shrink-0 stroke-current"
            fill="none"
            viewBox="0 0 24 24">
            <path
              strokeLinecap="round"
              strokeLinejoin="round"
              strokeWidth="2"
              d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
          </svg>
          <span>Warning: デバッグ用に表示しています。コードは"abcdx"です</span>
        </div>
        <br/>
        <div>
          <input type="text" placeholder="コード" className="input input-bordered w-full max-w-xs"onChange={(e) => setId(e.target.value)} />
          <br />
          <button 
          className="btn btn-primary"
          onClick={() => {
            idCheck();
          }}
          >
          送信
          </button>
          </div>
        </div>
        </>
      );
    };
    const container = document.getElementById("app");
    const root = createRoot(container);
    root.render(<App />);
  </script>
</body>
</html>
