<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>index</title>
  <script src="https://unpkg.com/@babel/standalone@7.26.4/babel.min.js"></script>

  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.23/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>

  <script type="importmap">
    {
      "imports": {
        "@jsxImportSource": "https://esm.sh/react@19.0.0",
        "react": "https://esm.sh/react@19.0.0",
        "react-dom": "https://esm.sh/react-dom@19.0.0/client",
        "clsx": "https://esm.sh/clsx",
        "class-variance-authority": "https://esm.sh/class-variance-authority"
      }
    }

  </script>
  
 
</head>
<body>
  <div id="app">

  </div>
  <script type="text/babel" data-type="module">
    import React, {useEffect} from "react"
    import { createRoot } from "react-dom"
    import clsx from "clsx"
    import { cva } from "class-variance-authority"

    const App = () => {
      const data = {{ roomdata | tojson | safe }};
      console.log(data);
      console.log(window.location.href);
      document.title = data.name;
      return (
        <>
        <div
        
        className="flex items-center justify-center h-screen bg-[url('../../static//images/bg1.webp')] bg-cover bg-center"
        >  
          <div className="card glass w-96">
            <figure>
              <img
                src="../../static//images/nit.jpg"
                alt="nit" />
            </figure>
            <div className="card-body">
              <h2 className="card-title text-black">{data.name}</h2>
              <p className="text-black">{data.comment}</p>
              <div className="card-actions justify-end">
                <button 
                className="btn btn-primary"
                onClick={() => {
                  window.location.href = "/entry/" + data.roomid + "/playarea/";
                }}
                >
                  entry
                </button>
              </div>
            </div>
          </div>
        </div>
        </>
      );
    };
    const container = document.getElementById("app");
    const root = createRoot(container);
    root.render(<App />);
  </script>
</body>
</html>
